{% extends 'base.html.twig' %}

{% block title %}Experiences index{% endblock %}

{% block body %}
    <h1>Experiences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>NomSociete</th>
                <th>Lieu</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Missions</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.Titre }}</td>
                <td>{{ experience.NomSociete }}</td>
                <td>{{ experience.Lieu }}</td>
                <td>{{ experience.DateStart ? experience.DateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ experience.DateEnd ? experience.DateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ experience.Missions }}</td>
                <td>{{ experience.Logo }}</td>
                <td>
                    <a href="{{ path('experiences_show', {'id': experience.id}) }}">show</a>
                    <a href="{{ path('experiences_edit', {'id': experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('experiences_new') }}">Create new</a>
{% endblock %}
