{% extends 'base2.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    <style>
        .row.experience
        {
            border-style: solid;
            border-color: cadetblue;
            border-radius: 10px;
            border-width: thin;
            margin-bottom: 2%;
            width: 90%;
            align-content: center;
            margin-right: auto;
            margin-left: auto;
        }

        .experience p
        {
            margin-left: 2%;
            margin-top: 2%;
        }

        .logoexperience
        {
            height: 160px;
            max-height: 70%;
            max-width: 90%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;

        }

        .titre
        {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .denom
        {
            font-weight: bold;
        }

    </style>

    <h2 class="titre">Expériences :</h2>

    {% for experiences in user.experiences %}
        <div class="row experience">
            <div class="col-9">
                <p style="font-weight: bold"><span class="denom">Titre</span> : {{ experiences.Titre }}</p>
                <p><span class="denom">Société</span> : {{ experiences.NomSociete }}</p>
                <p><span class="denom">Lieu</span> : {{ experiences.Lieu }}</p>
                <p><span class="denom">Année</span> : De {{ experiences.DateStart  | date('m/Y')  }} à {{ experiences.DateEnd  | date('m/Y')  }}</p>
                <p><span class="denom">Mission</span> : {{ experiences.Missions }}</p>
            </div>
            <div class="col-3">
                <img class="logoexperience" src="{{ asset('uploads/'~ experiences.Logo )}}">
            </div>
        </div>
    {% endfor %}



{% endblock %}