<style>
    .navbar
    {
        margin-top: 2%;
        align-content: c;
        margin-left: left;
        margin-right: auto;
    }



    .nav-link, .navbar-brand
    {
        color: black;
        font-size: 25px;
        font-family: "Helvetica Neue";
    }

</style>


<nav class="navbar navbar-expand-lg navbar-light" style="background: cadetblue;">
    <a class="navbar-brand" href="{{ path('accueil',{'id': user.id})  }}"><img src="https://img.icons8.com/ios-filled/50/000000/home.png"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ path('formationpage',{'id': user.id})  }}">Formations <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ path('experiencepage',{'id': user.id})  }}">Expériences</a>
            <a class="nav-item nav-link" href="{{ path('competencepage',{'id': user.id})  }}">Compétences</a>
            <a class="nav-item nav-link" href="{{ path('projetpage',{'id': user.id})  }}">Projets</a>
            <a class="nav-item nav-link" href="{{ path('loisirspage',{'id': user.id})  }}">Loisirs</a>
        </div>
    </div>
</nav>